/* Posicionamiento del nav */
nav {
	margin: 27px auto 0;

	position: relative;
	width: auto;
	height: auto;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}

/* Seleccion de los "a" dentro del "nav" */
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-flex;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
/* La animacion */
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
/* Son selectores, selector 1,2,3,4,5,6 para marcar la distancia entre palabras
 pero tambien puede usarse para que tome colores, este caso marca la distancia entre elementos del header */
a:nth-child(1) {
	width: 90px;
}
a:nth-child(2) {
	width: 200px;
}
a:nth-child(3) {
	width: 200px;
}
a:nth-child(4) {
	width: 170px;
}
a:nth-child(5) {
	width: 140px;
}
a:nth-child(6) {
	width: 120px;
}
/* En estos, indicamos segun el nth-child() que es el selector, de que tamano es la animacion
hover animation indica que es el tamano del cuadro de desplazamiento, que tamano tiene y que posicion queda */

/* class="animation start-home segun la clase, va a ser donde se ubique el indicador de la pagina, 
por ende aca indicamos: 

- nav (seccion nav)

- .start-home(futbolargentino, messi, internacional, nosotros)

indica que seccion se va a encontrar el cursor
,
- a:nth-child() 

es la funcion selectora: hover-animation es para indicar que la animacion se hace en ese contexto
color, distancia de la pantalla, y ancho de la animacion */


nav .start-home, a:nth-child(1):hover~.animation {
	width: 50px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-futbolargentino, a:nth-child(2):hover~.animation {
	width: 150px;
	left: 80px;
	background-color: #e74c3c;
}
nav .start-messi, a:nth-child(3):hover~.animation {
	width: 150px;
	left: 280px;
	background-color: #3498db;
}
nav .start-internacional, a:nth-child(4):hover~.animation {
	width:150px;
	left: 480px;
	background-color: #9b59b6;
}
nav .start-nosotros, a:nth-child(5):hover~.animation {
	width: 125px;
	left: 650px;
	background-color: #e67e22;
}
nav .start-contact, a:nth-child(6):hover~.animation {
	width: 150px;
	left: 790px;
	background-color: #f3ccaa3e;
}
